<div class="relative">
  <button
    [id]="'dropdownButton-' + postId()"
    [attr.data-dropdown-toggle]="'dropdown-' + postId()"
    appButton
    class="btn-outline btn-icon relative z-40"
    type="button"
  >
    <i class="fa-solid fa-ellipsis text-sm"></i>
  </button>

  <div
    [id]="'dropdown-' + postId()"
    class="z-10 hidden bg-neutral-primary-medium border border-default-medium rounded-md shadow-md w-40"
  >
    <div class="px-2 py-2 text-sm text-body font-medium flex flex-col gap-1">
      <div
        (click)="copyLink()"
        class="nav-link-hover cursor-pointer"
      >
        <i class="fa-solid fa-link w-4 me-1"></i>
        Copy Link
      </div>

      @if (isMyPost()) {
        <div
          (click)="editPost()"
          class="nav-link-hover cursor-pointer"
        >
          <i class="fa-solid fa-pen w-4 me-1"></i>
          Edit Post
        </div>

        <div
          [attr.data-modal-target]="'deleteModal-' + postId()"
          [attr.data-modal-toggle]="'deleteModal-' + postId()"
          (click)="deleteToggle()"
          class="nav-link text-danger hover:bg-danger-soft border-t border-default-medium mt-1 cursor-pointer"
        >
          <i class="fa-solid fa-trash w-4 me-1"></i>
          Delete Post
        </div>
      }
    </div>
  </div>
</div>
