<div
  id="dropdown-navbar"
  class="z-10 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-md w-64"
>
  <div class="p-2">
    <div
      class="flex items-center px-2 p-2 space-x-2 text-sm bg-neutral-secondary-strong rounded"
    >
      <img
        class="w-8 h-8 rounded-full"
        [src]="user?.photo"
        [alt]="user?.name"
      />
      <div class="text-sm">
        <div class="font-medium text-heading">{{ user?.name }}</div>
        <div class="truncate text-muted">
          {{ user?.username || user?.email }}
        </div>
      </div>
    </div>
  </div>

  <div
    class="px-2 pb-2 text-sm text-body font-medium"
    aria-labelledby="dropdownAvatarButton"
  >
    <a
      [routerLink]="ROUTES.PROFILE"
      class="nav-link hover:bg-neutral-secondary-soft"
    >
      <i class="fa-regular fa-user w-4 me-1"></i>
      Account
    </a>

    <a
      [routerLink]="ROUTES.SETTINGS"
      class="nav-link hover:bg-neutral-secondary-soft"
    >
      <i class="fa-solid fa-sliders w-4 me-1"></i>
      Settings
    </a>

    <div
      (click)="logout()"
      class="nav-link text-danger hover:bg-danger-soft border-t border-default-medium mt-1"
    >
      <i class="fa-solid fa-right-from-bracket w-4 me-1"></i>
      Sign out
    </div>
  </div>
</div>
