<div class="card-primary gap-4">
  <h2 class="text-3xl font-bold text-body">Login</h2>

  <form
    (ngSubmit)="loginSubmit()"
    [formGroup]="loginForm"
    class="flex flex-col gap-4"
  >
    <div class="input-field">
      <i class="input-icon fa-solid fa-user"></i>

      <input
        type="email"
        class="input"
        placeholder="Enter your email"
        formControlName="email"
      />

      <app-error-control
        [control]="loginForm.get('email')"
        [messages]="{
          required: 'Email is required',
          email: 'Enter a valid email',
        }"
      />
    </div>

    <div class="input-field">
      <i class="input-icon fa-solid fa-key"></i>

      <input
        type="password"
        class="input"
        placeholder="Enter your password"
        formControlName="password"
      />

      <app-error-control
        [control]="loginForm.get('password')"
        [messages]="{
          required: 'Password is required',
        }"
      />
    </div>

    <button
      [attr.data-loading]="mutation.isPending()"
      type="submit"
      class="btn-primary w-full"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
  </form>

  <p class="text-center text-sm text-muted">
    Don't have an account?
    <a routerLink="/register" class="link text-brand">Sign up</a>
  </p>
</div>
