@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@reference "./utilities.css";

@theme {
  --color-fg-brand-subtle: var(--color-sky-200);
  --color-fg-brand: var(--color-sky-700);
  --color-fg-brand-strong: var(--color-sky-900);

  --color-brand-softer: var(--color-sky-50);
  --color-brand-soft: var(--color-sky-100);
  --color-brand: var(--color-sky-700);
  --color-brand-medium: var(--color-sky-200);
  --color-brand-strong: var(--color-sky-800);
}

@layer utilities {
  .text-muted {
    @apply text-gray-500;
  }
}
