<app-navbar />

<main class="relative mx-auto max-w-7xl p-4">
  <div class="grid gap-4 xl:grid-cols-[2fr_minmax(0,7fr)_3fr]">
    <aside class="hidden h-fit space-y-4 xl:sticky xl:top-18 xl:block">
      <app-posts-filter />
    </aside>

    <section class="space-y-4 overflow-x-hidden">
      <div class="xl:hidden space-y-4">
        <app-posts-filter />
      </div>

      <router-outlet />
    </section>

    <aside class="hidden h-fit xl:sticky xl:top-18 xl:block">
      <app-suggested-friends />
    </aside>
  </div>
</main>
