<div class="card-secondary flex flex-col gap-2">
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-2">
      <i class="fa-solid fa-user-group text-brand"></i>
      <h2 class="font-bold text-sm">Suggested Friends</h2>
    </div>
    <span class="badge-primary">5</span>
  </div>

  <div class="input-field">
    <i class="input-icon fa-solid fa-magnifying-glass text-muted"></i>
    <input type="text" class="input" placeholder="Search Friends" />
  </div>

  <div class="grid gap-2">
    <div class="card-secondary">
      <div class="flex items-start gap-2">
        <img
          src="https://pub-3cba56bacf9f4965bbb0989e07dada12.r2.dev/linkedPosts/1772614419006-39a3d46d-9035-432b-8393-489f6916224d-no-image.webp"
          alt="Kerooo"
          class="avatar-lg"
        />

        <div class="flex-1 min-w-0 flex flex-col gap-2">
          <div class="flex items-center justify-between gap-2">
            <div class="flex flex-col min-w-0">
              <span
                class="text-sm font-bold text-heading truncate leading-tight"
                >Kerooo</span
              >
              <span class="text-xs text-muted truncate leading-tight"
                >@Kerooo</span
              >
            </div>
            <button class="btn-primary btn-md">
              <i class="fa-solid fa-user-plus text-2xs"></i>
              Follow
            </button>
          </div>

          <div class="flex items-center gap-2">
            <span class="badge-secondary">30 followers</span>
            <span class="badge-primary">3 mutual</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="btn-ghost-outline w-full">View more</button>
</div>
