<div class="flex flex-col gap-1">
  <textarea
    [(ngModel)]="value"
    class="input ps-2 min-h-25"
    [placeholder]="placeholder()"
    [disabled]="isLoading()"
  ></textarea>

  <div class="h-px w-full my-1 bg-border opacity-60"></div>

  <div class="flex items-center justify-end gap-2">
    <button
      type="button"
      class="btn-outline"
      (click)="cancel()"
      [disabled]="isLoading()"
    >
      <span>Cancel</span>
    </button>

    <button
      appButton
      icon="fa-regular fa-paper-plane text-xs"
      class="btn-primary"
      [isLoading]="isLoading()"
      [disabled]="isLoading() || !value.trim()"
      (click)="save()"
    >
      {{ saveText() }}
    </button>
  </div>
</div>
